@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* list-style: none; */
  text-decoration: none !important;
}

body,
html {
  overflow-x: hidden;
}

/* ------------------back-to-top------------------- */
.back_to_top {
  position: fixed;
  z-index: 1;
  bottom: 3%;
  right: 2%;
  cursor: pointer !important;
  -webkit-animation: mover 3000ms infinite ease-in-out !important;
  animation: mover 3000ms infinite ease-in-out !important;
  filter: drop-shadow(0px 5px 8px white);
}

@keyframes mover {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* ----------------------Preloader------------------- */
.mw_100 {
  max-width: 100px;
}

.bg_preloader {
  background: #097980;
}

/* ----------------------------Scrollbar--------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #097980;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #097980;
}

/* -----------------------------------common-classes---------------------------- */
.ff-SpaceMono {
  font-family: 'Space Mono', monospace;
}

@font-face {
  font-family: 'SohneSchmal';
  src: url('./assets/font-family/Sohne-Font-Family/Söhne-Font-Family-Collection/sohne-font/TestSöhneSchmal-Dreiviertelfett.otf');
}

.ff-SohneSchmalSchmal {
  font-family: 'SohneSchmal';
}

@font-face {
  font-family: 'mainson-neuebold';
  src: url('./assets/font-family/Maison_Neue_Extended/MaisonNeueExtended-Bold.otf');
}

.ff-maisonsemibold {
  font-family: 'mainson-neuebold';
}

@font-face {
  font-family: 'mainson-extrabold';
  src: url('./assets/font-family/Maison_Neue_Extended/MaisonNeueExtended-ExtraBold.otf');
}

.ff-mainsonbold {
  font-family: 'mainson-extrabold';
}

@font-face {
  font-family: 'mainson-light';
  src: url('./assets/font-family/Maison_Neue_Extended/MaisonNeueExtended-Book.otf');
}

.ff-mainlight {
  font-family: 'mainson-light';
}

@font-face {
  font-family: 'mainson-normal';
  src: url('./assets/font-family/Maison_Neue_Extended/MaisonNeueExtended-Medium.otf');
}

.ff-mainnormal {
  font-family: 'mainson-normal';
}

@font-face {
  font-family: 'mainson-medium';
  src: url('./assets/font-family/Maison_Neue_Extended/MaisonNeueExtended-Demi.otf');
}

.ff-mainmedium {
  font-family: 'mainson-medium';
}

.fs_6sm {
  font-size: var(--fs-6sm);
}

.fs_2md {
  font-size: var(--fs-2md);
}

.fs_3md {
  font-size: var(--fs-3md);
}

.fs_5md {
  font-size: var(--fs-5md);
}

.fs_6md {
  font-size: var(--fs-6md);
}

.fs_8md {
  font-size: var(--fs-8md);
}

.fs_4lg {
  font-size: var(--fs-4lg);
}

.fs_lg {
  font-size: var(--fs_lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_xxl {
  font-size: var(--fs-xxl);
}

.fs_xxxl {
  font-size: var(--fs-xxxl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.curser_pointer {
  cursor: pointer;
}

.lh_106 {
  line-height: 106.667%;
}

.lh_104 {
  line-height: 86.667%;
}

.lh_125 {
  line-height: 125%;
}

.lh_87 {
  line-height: 87.5%;
}

.lh_133 {
  line-height: 133%;
}

.lh_100 {
  line-height: 100%;
}

.opacity_70 {
  opacity: 70%;
}

.lh_normal {
  line-height: normal;
}

.letter_spacing1 {
  letter-spacing: 1px;
}

/* ----------------------------Herosection------------------------------ */
.Hero_Img {
  background-image: linear-gradient(0deg, #fff 10%, transparent 10%), url("./assets/images/png/HeroImg.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.nav_bar {
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  background-color: white;
  list-style-type: none !important;
  z-index: 2;
  margin-right: -1%;
}

.bg_lightgreen {
  background: #D2F038;
}

.dropdown-box {
  position: absolute;
  background: transparent;
  min-width: 109px;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 300% !important;
  transition: 0.3s linear;
}

.dropdown-box a {
  width: 108px;
  height: 45px;
  border-radius: 18px;
  border-bottom: 1px solid #E8E8E8;
  background: rgba(196, 196, 196, 0.00);
}

.dropdown-box a:hover {
  background: var(--gray5);
  color: var(--white);
}

li:hover .dropdown-box {
  display: flex;
}

.green_line {
  left: 10%;
}

.analyze-email {
  border-radius: 64px;
  border: 2px solid var(--color-11, #FFF);
  padding: 6px 6px 6px 24px;
  max-width: 448px !important;
}

.web-input {
  padding-top: 16px;
  padding-bottom: 16px;
  outline: none !important;
  background-color: transparent;
  border: none;
  font-family: 'mainson-normal';
  font-weight: 400;
  font-size: var(--fs-5md);
  color: rgba(255, 255, 255, 0.60) !important;
  width: 100%;
}

.web-input::placeholder {
  font-family: 'mainson-normal';
  font-weight: 400;
  font-size: var(--fs-5md);
  color: rgba(255, 255, 255, 0.60) !important;
}

.btn-analyze {
  padding: 16px 24px;
  border: none;
  background: none;
  border-radius: 56px;
  transition: 0.3s linear;
}

.btn-analyze:hover {
  color: black !important;
  background-color: #FFF;
}

.mw_871 {
  max-width: 871px;
}

.brand_circle {
  left: -6%;
  bottom: 9%;
}

.bottom_5 {
  bottom: 5%;
}

.video_shadow {
  box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.20);
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 5s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* ---------------------------------Featured In-------------------------------- */
.letter_sapacing2 {
  letter-spacing: 2px;
}

/* ---------------------------Satisfied Clients------------------------- */
.digital_card {
  padding: 24px 16px 16px 16px;
  cursor: pointer;
}

.bg_green {
  background-color: #00AFB5;
}

.white_card {
  background-color: #FFF;
  border-radius: 24px;
  padding: 24px;
}

.bg_Lightgreen {
  background: #5CD93D;
}

.bg_Yellow {
  background: #D2F038;
}

.mw_1440 {
  max-width: 1440px;
}

.hoverAnimation {
  animation-duration: 2.2s;
  animation-name: bgAnimation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bgAnimation {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }
}

/* -------------------------------Start Earning------------------------------------ */
.earning_bg {
  background: #d2f038;
}

.max_w_463 {
  max-width: 463px;
  opacity: 0.5;
}

.img_motion {
  animation: like 2s 3s infinite;
}

@keyframes like {

  0%,
  100% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }
}

.email_box {
  max-width: 449px !important;
  padding: 6px 6px 6px 24px;
  border-radius: 64px;
}

input::placeholder {
  font-family: "mainson-normal" !important;
  font-size: var(--fs-5md) !important;
  text-overflow: ellipsis;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 134% !important;
  color: black !important;
}

.submit_btn {
  border: 2px solid transparent;
  border-radius: 56px;
  transition: all 0.3s linear !important;
}

.submit_btn:hover {
  background-color: #d2f038 !important;
  border: 2px solid #d2f038;
  color: white !important;
}

.max_w_1024 {
  max-width: 1024px;
}

.max_w_135 {
  max-width: 135px;
}

.arrow {
  animation: 4s linear infinite normal none running arrow;
  left: -28%;
  bottom: -59%;
}

@keyframes arrow {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-20deg);
  }
}

.submit_input {
  outline: none;
  border: none;
}

/* -----------------------------Digital-Marketing-------------------------------- */
.digital-card {
  border-radius: 25px;
  border: 2px solid #00AFB5;
  background: #FFF;
  padding: 30px;
  width: 100%;
  cursor: pointer !important;
  transition: all .3s linear !important;
}

.digital-card:hover {
  box-shadow: 0px 4px 25px 0px #00999e;
}

.digitalcard {
  transition: all .3s linear !important;
}

.digital-card:hover .digitalcard {
  transform: scale(1.02);
}

.btn-exploreseo {
  background-color: transparent;
  border: none;
  padding: 16px 16px 16px 0;
}

.top_30 {
  top: 30%;
}

/* -----------------------------Growth-partner----------------------------- */
.bg_growthvideo {
  width: 100%;
  height: 100%;
  float: left;
  top: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.pt_250 {
  padding-top: 250px !important;
}

.EarthVideo {
  min-height: 50vh;
}

.layer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0.24%, rgba(0, 0, 0, 0.00) 99.72%);
  z-index: 1;
}

.word_wrap {
  word-wrap: break-word;
}

.Subscribe_btn {
  padding: 31px 32px;
  background-color: #ff4242;
  border: none;
  transition: 0.3s linear;
}

.Subscribe_btn:hover p {
  color: #000 !important;
}

.Subscribe_btn:hover {
  background-color: #D2F038;
}

.Subscribe_btn:hover svg path {
  fill: #000;
}

.mw_64 {
  max-width: 64px;
}

.Interview_card {
  padding: 33px 29px 37px 29px;
  background-color: #FFF;
  max-width: 440px;
  cursor: pointer;
}

.mh_668 {
  max-height: 791px;
  height: 100%;
}

.Card_scroll::-webkit-scrollbar {
  display: none !important;
}

.letter_Spacing3 {
  letter-spacing: 3px;
}

.Project_btn {
  padding: 31px 32px;
  background-color: #D2F038;
  border: none;
}

.border_r_24 {
  border-radius: 24px;
}

.project_card {
  padding: 33px 29px 37px 29px;
  background-color: white;
  cursor: pointer;
}

.mw_382 {
  max-width: 382px;
}

.background_circle::after {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("./assets/images/png/backgroundofslider.png");
  object-fit: cover;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  height: 100%;
  max-height: 512px;
  top: 15%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-link {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  color: #000000 !important;
  font-size: var(--fs-8md);
  font-family: 'mainson-neuebold';
  opacity: 0.35;
  font-weight: 600;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: all 300ms linear;
}

.nav-link>img {
  opacity: 0;
}

.nav-link.active>img,
.nav-link .show>img {
  opacity: 1 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #000000 !important;
  background-color: transparent !important;
  font-weight: 600;
  opacity: 100;
  font-family: 'mainson-neuebold';
  font-size: var(--fs-8md);
}

.Red_line {
  opacity: 0;
  left: -76%;
  bottom: -26px;
  z-index: 15 !important;
}

.Red_line2 {
  opacity: 0;
  left: -45%;
  bottom: -9px;
  z-index: 15 !important;
}

.Red_line3 {
  opacity: 0;
  left: -34%;
  bottom: -55px;
  z-index: 15 !important;
}

.Red_line:hover {
  opacity: 1;
}

.Red_line2:hover {
  opacity: 1;
}

.Red_line3:hover {
  opacity: 1;
}

/* ------------------------------ActualResult-------------------------------- */
.bg-results {
  background-image: url('./assets/images/png/bg-results.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  object-fit: cover;
}

.mw-640 {
  max-width: 640px;
}

.btn-pre {
  left: 0;
  top: 32%;
}

.btn-next {
  right: 0;
  top: 32%;
}

.cur-pointer {
  cursor: pointer;
}

.slick-dots li button::before {
  content: '' !important;
  background-color: rgba(255, 255, 255, 0.30) !important;
  width: 7px !important;
  height: 7px !important;
}

.slick-dots li.slick-active button:before {
  background-color: white !important;
}

/* --------------------------------Learn From Us------------------------------ */
.marketing_card {
  padding: 24px 24px 24px 24px;
  background-color: #FFF;
  border-radius: 25px;
  transition: 0.3s linear;
  margin-left: 31px;
  margin-bottom: 29px;
  cursor: pointer;
  transition: 0.3s linear;
}

.marketing_card:hover {
  background-color: #00AFB5;
  color: white !important;
}

.marketing_card:hover p {
  color: white !important;
}

.marketing_card:hover svg path {
  fill: white !important;
}

.text_green {
  color: #00AFB5;
}

.h_750 {
  height: 750px;
}

.object_fit_cover {
  object-fit: cover;
  object-position: top;
}

.brand_img {
  top: -3%;
  right: 4%;
}

.mw_440 {
  max-width: 440px;
}

.marketing_card1 {
  padding: 24px 24px 16px 24px;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s linear;
}

.marketing_card1:hover {
  background-color: #00AFB5;
}

.marketing_card1:hover p {
  color: #FFF !important;
}

.marketing_card1:hover svg path {
  fill: white;
}

.bg_card {
  background-image: url('./assets/images/png/Marketing_Card1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.bg_card2 {
  background-image: url('./assets/images/png/Marketing_Card2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.bg_card3 {
  background-image: url('./assets/images/png/Marketing_Card3.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%
}

.pb_41 {
  padding-bottom: 41px;
}

.pb_45 {
  padding-bottom: 45px;
}

.zoom-in-out-Brand {
  margin: 24px;
  width: 50px;
  height: 50px;
  animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1.2, 1.2);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}

/* -----------------------------hit-your-goals----------------------------- */
.Book_btn {
  padding: 31px 32px;
  background-color: #D2F038;
  transition: 0.3s linear;
  border: 2px solid transparent;
}

.Book_btn:hover {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 25px 0px #ffffff;
}

.bg_goals {
  background-image: url('./assets//images/png/GoalsImg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* /--------------------------------footer---------------------------/ */
.footer_bg_img {
  background-image: url('./assets/images/png/FooterBg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer_greenline::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #5CD93D;
  position: absolute;
  bottom: 0 !important;
  left: 0 !important;
}

.text_green {
  color: #D2F038;
}

.footer_line::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 2px;
  background-color: #D2F038;
  bottom: -3px;
  border-radius: 10px;
  transition: all .3s linear !important;
}

.footer_line:hover::after {
  width: 100%;
}

.footericon {
  transition: all .3s linear !important;
}

.footericon:hover {
  transform: scale(1.2);
  box-shadow: 0px 4px 25px 0px #ffffff;
}

.gap_34 {
  gap: 34px;
}

.mt_84 {
  margin-top: 84px;
}

.overflow_hidden {
  overflow: hidden;
}

:root {
  --fs-6sm: 6px;
  --fs-2md: 12px;
  --fs-3md: 13px;
  --fs-5md: 15px;
  --fs-6md: 16px;
  --fs-8md: 18px;
  --fs-4lg: 24px;
  --fs_lg: 30px;
  --fs-xl: 40px;
  --fs-xxl: 50px;
  --fs-xxxl: 80px;
  --fs-4xl: 120px;
}

@media (max-width:1200px) {
  .bg_growthvideo {
    height: 1320px;
  }
}

@media (max-width:991.98px) {
  .nav_bar {
    position: fixed;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* top: 0; */
    width: 100%;
    height: 100%;
    z-index: 4;
    padding-left: 0;
    transition: all 300ms linear;
  }

  .left_0 {
    left: 0;
    right: 0;
  }

  .left_100 {
    left: 100%;
    right: -100%;
  }

  .menu-icon {
    padding-left: 30px;
    padding-right: 30px;
    /* background: transparent; */
    background-color: white;
    position: relative;
    z-index: 6;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
  }

  .menu-icon span {
    /* width: 100%; */
    width: 30px;
    height: 3px;
    background: #000 !important;
    transition: all .3s linear;
  }

  .cross1 {
    padding: 20px;
  }

  .cross1 .crl-1 {
    transform: rotate(50deg) translate(13px, 12px);
  }

  .cross1 .crl-2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross1 .crl-3 {
    transform: rotate(-50deg) translateY(-50%);
  }

  :root {
    --fs-6sm: 6px;
    --fs-2md: 12px;
    --fs-3md: 13px;
    --fs-5md: 15px;
    --fs-6md: 16px;
    --fs-8md: 18px;
    --fs-4lg: 24px;
    --fs_lg: 27px !important;
    --fs-xl: 40px;
    --fs-xxl: 50px;
    --fs-xxxl: 80px;
    --fs-4xl: 120px;
  }
}

@media (max-width:768px) {
  .brand_circle svg {
    width: 90px !important;
    height: 90px !important;
  }

  .brand_circle {
    left: -7% !important;
    bottom: 21% !important;
  }

  .marketing_card {
    margin-top: 29px !important;
    margin-right: 31px !important;
  }

  :root {
    --fs-xxxl: 61px !important;
    --fs-4xl: 93px !important;
  }
}

@media (max-width:576px) {
  .overflow-y-scroll {
    overflow-y: hidden;
  }

  .mh_668 {
    max-width: 0;
  }

  :root {
    --fs-6sm: 6px;
    --fs-2md: 12px;
    --fs-3md: 13px;
    --fs-5md: 15px;
    --fs-6md: 16px;
    --fs-8md: 18px;
    --fs-4lg: 24px;
    --fs_lg: 30px;
    --fs-xl: 40px;
    --fs-xxl: 35px !important;
    --fs-xxxl: 50px !important;
    --fs-4xl: 80px !important;
  }
}

@media (min-width:1310px) and (max-width:1370px) {
  .Interview_card {
    padding: 22px 29px 30px 29px;
    background-color: #FFF;
    max-width: 388px;
  }
}

@media (min-width:1400px) {
  .mh_551 {
    max-height: 650px;
  }

  .mh_664 {
    max-height: 664px !important;
  }
}

@media (min-width:1200px) {
  .mw_360 {
    max-width: 360px;
  }

  .mh_668 {
    max-height: 577px;
  }

  .mw_392 {
    max-width: 392px;
  }

  .mw_461 {
    max-width: 461px;
  }

  .EarthVideo {
    height: 100%;
    width: 100%;
  }
}

@media (min-width:991.98px) {
  .mw_822 {
    max-width: 822px;
  }

  .mw_717 {
    max-width: 717px;
  }

  .mw_588 {
    max-width: 588px;
  }

  .mw_641 {
    max-width: 641px;
  }

  .mw_330 {
    max-width: 330px;
  }

  .mw_334 {
    max-width: 334px;
  }
}